@import "tailwindcss";

:root {
  --background: #ffffff;
  --background-tertiary: #eeeeee;
  --background-secondary: #444444;
  --foreground: #111111;
  --scrollbar-thumb: #444444;
  --scrollbar-track: transparent;
  --scrollbar-width: 15px;
}

.dark {
  --background: #111111;
  --background-tertiary: #222222;
  --background-secondary: #bbbbbb;
  --foreground: #ffffff;
  --scrollbar-thumb: #555555;
  --scrollbar-track: transparent;
  --scrollbar-width: 15px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-pretendard), var(--font-geist-sans), sans-serif;
  --font-mono: var(--font-geist-mono);
}

html {
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
  background: var(--background);
  color: var(--foreground);
}

p, label {
  font-family: var(--font-pretendard), var(--font-geist-sans), sans-serif;
  letter-spacing: -0.05em;
}

.scrollbar-thin {
  scrollbar-width:thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

.scrollbar-thin::-webkit-scrollbar {
  width: var(--scrollbar-width);
  height: var(--scrollbar-width);
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: var(--scrollbar-thumb);
}

@keyframes opacity-up {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.opacity-up {
  animation:
    opacity-up 0.5s ease-in-out forwards,
}